
.container {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 3px 12px 1px rgba(0,0,0, .3);
  color: #333;
  padding: 1rem 1.5rem;
  width: auto;

}

h1 {
  font-weight: 100;
}

table {
  border: 1px solid #333;
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid #CCC;
}

thead tr {
  background-color: #F2F2F2;
}

th,
td {
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  padding: .5rem 1rem;
}

.add-user {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

h3.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

button  {
  cursor: pointer;
  border: none;
  color: white;
  padding: 9px 31px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
  border-radius: 5px 5px 5px 5px;
  margin: 13px 7px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  &.save{
    background-color: #56baed;
    &:hover  {
      background-color: #39ace7;
    }
  }
  
  &:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  

  &.back{
    background-color: #f86c6b;
    &:hover  {
      background-color: #f75858;
    }
  }
}

input {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input:invalid {
    background-color: #fff;
    border-bottom: 2px solid #fa0404;
}

input:placeholder {
  color: #cccccc;
}

.text-danger {
  color: #fa0404;
}

.fadeIn {
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}


*:focus {
  outline: none;
} 


* {
box-sizing: border-box;
}



